@import'libs/reset'; // сброс стилей
@import'base/variables'; // данные
*{
    box-sizing: border-box;
}
body{
    background-color: $main-color;
    color: $text-color;
    font-size: 24px;
    line-height: 28px;
    // font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;
}
a{
    color: $text-color;
    text-decoration: none;
    
}
.container{
    padding: 0 15px;
    max-width: 1230px;
    margin: 0 auto;
}

@import'blocks/header';  // header style
@import'blocks/btn'; // кнопка
@import'libs/slick'; // стили слик-слайдера
@import'blocks/slider'; // стили моего слайдера
@import'blocks/statistics'; // стили второй секции
@import'blocks/video'; // стили для секции с видио
@import'blocks/advantages'; // стили для секции с приемуществами
@import'blocks/desing'; // стили для секции с "дизайном"
@import'blocks/footer'; // стили для секции с fotter