.footer{
    background-color: $second-color;
    padding: 83px 0 20px;
    margin-top: 99px;
    &__btn{
        text-align: center;
        margin-bottom: 83px;
    }
    &-copy{
        text-align: center;
        font-weight: 700;
        ul{
            list-style-type: none; 
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
            li{
                padding: 0 15px 0 0;
                &+ li::before{
                    content: "";
                    border-left: 2px solid $text-color;
                    padding-left: 15px;
                }
            }
        }
    }
}