.header{
    height: 100vh;
    position: absolute;
    z-index: 5;
    width: 100%;
    background: rgba(0, 0, 0, 0.3);
    &-top{
        display: flex;
        justify-content: space-between;
    }
    &-logo{
        margin-top: 36px;
        margin-bottom: 29px;
    }
    &-btn{
        width: 60px;
        height: 60px;
        border: 1px solid #fff;
        margin-top: 31px;
        background: rgba(255, 255, 255, 0.1);
        cursor: pointer;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        div{
            width: 36px;
            height: 2px;
            background-color: #fff;
            margin: 5px 0;
        }
    }
    &-content{
        &__title{
            font-family: 'Roboto', sans-serif;
            font-size: 96px;
            line-height: 112px;
            margin-bottom: 40px;
        }
        &__text{
            width: 284px;
            margin-bottom: 25px;
        }
    }
}
.close-btn{
    width: 50px;
    height: 50px;
    position: absolute;
    right: 15px;
    top: 31px;  
    cursor: pointer;
    &::after,
    &::before{
        content: "";
        width: 70px;
        height: 2px;
        background-color: #fff;
        position: absolute;
        transform-origin: left;
    }
    &::after{
        transform: rotate(-45deg);
        bottom: -1px;
    }
    &::before{
        transform: rotate(45deg);
    }
}