.slider{
    &__item{
        height: 100vh; 
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        background-color: rgba(0, 0, 0, 0.8)
        
    }
}
.slick-dots {
    margin: -55px auto 0;
    position: relative;
    z-index: 6;
    max-width: 1230px;
    padding: 0 15px;
    button {
        padding: 0;
        font-size: 0;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        border: none;
        background-color: $main-color;
        cursor: pointer;
        outline: none;
    }
    .slick-active{
       button{ 
           background-color: #fff;
        }   
    }
    li{
        display: inline-block;
        margin-right:10px;
    }
}